# 서로 다른 범위의 데이터를 같은 범위로 스케일링

In [1]:
import pandas as pd
import numpy as np

### 1. 데이터

In [2]:
df = pd.DataFrame({
    'A': [14.00, 90.20, 90.95, 96.27, 91.21],
    'B': [103.02, 107.26, 110.35, 114.23, 114.68],
    'C': ['big', 'small', 'big', 'small', 'small']
})

display(df)

       A       B      C
0  14.00  103.02    big
1  90.20  107.26  small
2  90.95  110.35    big
3  96.27  114.23  small
4  91.21  114.68  small

### 2. 최소값 - 최대값 정규화

공식 : (Xi - min(X)) / (max(X) - min(X))

In [3]:
(df["A"] - df["A"].min()) / (df["A"].max() - df["A"].min())

0    0.000000
1    0.926219
2    0.935335
3    1.000000
4    0.938495
Name: A, dtype: float64

### 3. Z-Score 정규화

공식 : (Xi - mean(X)) / std(X)

In [4]:
(df["B"] - df["B"].mean()) / df["B"].std()

0   -1.405250
1   -0.540230
2    0.090174
3    0.881749
4    0.973556
Name: B, dtype: float64